### Define data files

In [1]:
input_file_name = "data.csv"
output_file_name = "data_cleaned.csv"

# Installing Packages

In [2]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/thuanvu/.local/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: numpy>=1.21.0 in /home/thuanvu/.local/lib/python3.10/site-packages (from pandas) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/thuanvu/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/thuanvu/.local/lib/python3.10/site-packages (1.22.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/thuanvu/.local/lib/python3.10/site-packages (3.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3.10/site-packages (from matplotlib) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: numpy>=1.17 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib) (1.22.2)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3.10/site-packages (from matplotlib) (20.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib) (9.1.0)
Requirement already satisfied: cycler>=0.10 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/thuanvu/.local/lib/python3.10/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /home/thuanvu/.local/lib/python3.10/site-packages (from seaborn) (1.8.0)
Requirement already satisfied: pandas>=0.23 in /home/thuanvu/.local/lib/python3.10/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /home/thuanvu/.local/lib/python3.10/site-packages (from seaborn) (3.5.2)
Requirement already satisfied: numpy>=1.15 in /home/thuanvu/.local/lib/python3.10/site-packages (from seaborn) (1.22.2)
Requirement already satisfied: pillow>=6.2.0 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (9.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (20.9)
Requirement already satisfied: cycler>=0.10 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/thuanvu/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (4.33.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (3.0.8)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3.10/site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

# Making Imports

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import os
from IPython.display import display

### Connect path

use your own directory, where you have your input data file.

In [4]:
# Change directory - use your own directories where you will be storing the data
os.chdir(".")

# Reading in Data

In [5]:
df = pd.read_csv(input_file_name)

In [6]:
df.head(10)

,Timestamp,What is your age?,What gender do you identify as?,What year are you?,What is your current standing GPA?,What is your approximate cumulative GPA as of Winter 2022?,What was your approximate GPA during the Winter 2022 quarter?,What was your approximate GPA for your first year at UCR?,How many units are you taking currently?,What class is making you fill out this survey?,...,How many hours do you regularly sleep?,"On average, do you sleep less the night before an exam or assignment due date?",Does helping others in a team increase your confidence?,How would you best describe yourself?,Do you listen to music while studying/working?,Unnamed: 98,Unnamed: 99,"Does helping others in a team increase your confidence? (not really, a little bit, a lot).1",Rate the importance of your education in your life on a scale of 1-5.1,Untitled Question
0,5/2/2022 12:50:41,21,Woman,Junior,NaN,3.43,3.9,3.50,12.0,CS105,...,7-8,4,3,Asian,No,NaN,NaN,NaN,NaN,NaN
1,5/2/2022 13:37:49,20,Man,Sophomore,NaN,3.81,3.75,3.90,14.0,CS111,...,7,2,5,"Hispanic, Latino or Spanish Origin",No,NaN,NaN,NaN,NaN,NaN
2,5/2/2022 13:38:05,19,Man,Sophomore,NaN,2.70,2.7,2.70,12.0,CS111,...,7,1,5,Coptic,No,NaN,NaN,NaN,NaN,NaN
3,5/2/2022 13:39:48,20,Man,Junior,NaN,3.90,3.9,3.90,17.0,CS105,...,7,2,4,Asian,No,NaN,NaN,NaN,NaN,NaN
4,5/2/2022 13:42:48,21,Man,Junior,NaN,3.40,3.4,3.40,150.0,CS111,...,8,1,1,Asian,Yes,NaN,NaN,NaN,NaN,NaN
5,5/2/2022 13:45:09,21,Man,Junior,NaN,3.88,3.88,3.88,17.0,CS105,...,6,4,5,White,Yes,NaN,NaN,NaN,NaN,NaN
6,5/2/2022 13:45:52,27,Man,Junior,NaN,3.44,3.4,3.44,16.0,CS105,...,8,5,3,White,Yes,NaN,NaN,NaN,NaN,NaN
7,5/2/2022 13:46:11,20,Man,Junior,NaN,3.25,3.25,NaN,12.0,CS105,...,7,2,5,Asian,No,NaN,NaN,NaN,NaN,NaN
8,5/2/2022 13:47:46,21,Man,Junior,NaN,3.80,3.6,4.00,16.0,CS105,...,7,4,3,Asian,Yes,NaN,NaN,NaN,NaN,NaN
9,5/2/2022 13:47:57,23,Man,Senior,NaN,2.20,3,2.10,16.0,CS105,...,5,5,4,"Hispanic, Latino or Spanish Origin",Yes,NaN,NaN,NaN,NaN,NaN

# Rename columns dictionary

In [7]:
rename_dict = {
    "Does helping others in a team increase your confidence?" : "helping_others_confidence",
    "Do you form study groups with classmates?" : "study_group_yesno",
    "How do you feel you are doing this quarter?" : "feel_confidence",
    "Generally, how would you categorize your confidence in your classes?" : "feel_confidence2",
    "What is your preference when it comes to working with groups?" : "study_group_preference",
    "Rate the enjoyment/fulfillment you receive from education on a scale of 1-5" : "education_fulfillment",
    "What class is making you fill out this survey?" : "curr_class",
    "How many units are you taking currently?" : "curr_units",
    "What was your approximate GPA for your first year at UCR?" : "approx_gpa_year1",
    "What was your approximate GPA during the Winter 2022 quarter?" : "approx_gpa_win22_1",
    "What is your approximate cumulative GPA as of Winter 2022?" : "approx_gpa_win22_2",
    "What year are you?" : "year",
    "What gender do you identify as?" : "gender",
    "What is your age?" : "age",
}

# Separate needed DataFrame from main DataFrame

In [8]:
sdf = df[["Does helping others in a team increase your confidence?",
          "Do you form study groups with classmates?",
          "How do you feel you are doing this quarter?",
          "Generally, how would you categorize your confidence in your classes?",
          "What is your preference when it comes to working with groups?",
          "Rate the enjoyment/fulfillment you receive from education on a scale of 1-5",
          "What class is making you fill out this survey?",
          "How many units are you taking currently?",
          "What was your approximate GPA for your first year at UCR?",
          "What was your approximate GPA during the Winter 2022 quarter?",
          "What is your approximate cumulative GPA as of Winter 2022?",
          "What year are you?",
          "What gender do you identify as?",
          "What is your age?"]]

sdf = sdf.rename(columns=rename_dict)

In [9]:
# Visualize
sdf.head(10)

,helping_others_confidence,study_group_yesno,feel_confidence,feel_confidence2,study_group_preference,education_fulfillment,curr_class,curr_units,approx_gpa_year1,approx_gpa_win22_1,approx_gpa_win22_2,year,gender,age
0,3,Yes,1,3.0,Alone,3,CS105,12.0,3.50,3.9,3.43,Junior,Woman,21
1,5,No,3,4.0,Alone,4,CS111,14.0,3.90,3.75,3.81,Sophomore,Man,20
2,5,No,3,3.0,All the above,2,CS111,12.0,2.70,2.7,2.70,Sophomore,Man,19
3,4,Yes,4,4.0,In groups,4,CS105,17.0,3.90,3.9,3.90,Junior,Man,20
4,1,No,3,3.0,Alone,4,CS111,150.0,3.40,3.4,3.40,Junior,Man,21
5,5,Yes,3,4.0,All the above,3,CS105,17.0,3.88,3.88,3.88,Junior,Man,21
6,3,Yes,2,3.0,Alone,4,CS105,16.0,3.44,3.4,3.44,Junior,Man,27
7,5,No,3,4.0,Partner,3,CS105,12.0,NaN,3.25,3.25,Junior,Man,20
8,3,No,2,2.0,All the above,1,CS105,16.0,4.00,3.6,3.80,Junior,Man,21
9,4,No,4,4.0,Alone,2,CS105,16.0,2.10,3,2.20,Senior,Man,23

#

In [10]:
sdf["year"].unique()

array(['Junior', 'Sophomore', 'Senior', "Master's"], dtype=object)

In [11]:
sdf_cleaned = sdf.copy()
sdf_cleaned.head(2)

,helping_others_confidence,study_group_yesno,feel_confidence,feel_confidence2,study_group_preference,education_fulfillment,curr_class,curr_units,approx_gpa_year1,approx_gpa_win22_1,approx_gpa_win22_2,year,gender,age
0,3,Yes,1,3.0,Alone,3,CS105,12.0,3.5,3.9,3.43,Junior,Woman,21
1,5,No,3,4.0,Alone,4,CS111,14.0,3.9,3.75,3.81,Sophomore,Man,20

# Data Cleaning

### Cleaning `year` column

In [12]:
def clean_year(x):
  if ((x == "Master's") or (x.lower() == "phd")):
    return "Graduate"
  else:
    return x

sdf_cleaned["year"] = sdf_cleaned["year"].apply(clean_year)
display(sdf_cleaned["year"].loc[ (sdf_cleaned["year"] != "Junior") & (sdf_cleaned["year"] != "Sophomore") & (sdf_cleaned["year"] != "Senior") & (sdf_cleaned["year"] != "Freshman")])

display(sdf_cleaned["year"].loc[ sdf_cleaned["year"] == None])

11    Graduate
24    Graduate
Name: year, dtype: object

Series([], Name: year, dtype: object)

### Cleaning `feel_confidence2` column

In [13]:
sdf_cleaned["feel_confidence2"] = sdf_cleaned["feel_confidence2"].fillna(3).astype(int)
sdf_cleaned["feel_confidence2"].head(10)

0    3
1    4
2    3
3    4
4    3
5    4
6    3
7    4
8    2
9    4
Name: feel_confidence2, dtype: int64

### Cleaning `curr_units` column

In [14]:
def clean_curr_units(x):
  if (x > 100):
    # Cut last digit of the string
    return str(int(x))[:-1]
  return x

sdf_cleaned["curr_units"] = sdf_cleaned["curr_units"].apply(clean_curr_units).fillna(0).astype(int)
sdf_cleaned["curr_units"].head(10)

0    12
1    14
2    12
3    17
4    15
5    17
6    16
7    12
8    16
9    16
Name: curr_units, dtype: int64

### Sanity check

In [15]:
sdf_cleaned.head(10)

,helping_others_confidence,study_group_yesno,feel_confidence,feel_confidence2,study_group_preference,education_fulfillment,curr_class,curr_units,approx_gpa_year1,approx_gpa_win22_1,approx_gpa_win22_2,year,gender,age
0,3,Yes,1,3,Alone,3,CS105,12,3.50,3.9,3.43,Junior,Woman,21
1,5,No,3,4,Alone,4,CS111,14,3.90,3.75,3.81,Sophomore,Man,20
2,5,No,3,3,All the above,2,CS111,12,2.70,2.7,2.70,Sophomore,Man,19
3,4,Yes,4,4,In groups,4,CS105,17,3.90,3.9,3.90,Junior,Man,20
4,1,No,3,3,Alone,4,CS111,15,3.40,3.4,3.40,Junior,Man,21
5,5,Yes,3,4,All the above,3,CS105,17,3.88,3.88,3.88,Junior,Man,21
6,3,Yes,2,3,Alone,4,CS105,16,3.44,3.4,3.44,Junior,Man,27
7,5,No,3,4,Partner,3,CS105,12,NaN,3.25,3.25,Junior,Man,20
8,3,No,2,2,All the above,1,CS105,16,4.00,3.6,3.80,Junior,Man,21
9,4,No,4,4,Alone,2,CS105,16,2.10,3,2.20,Senior,Man,23

### Show faults in dataset

In [16]:
sdf_cleaned[sdf_cleaned.isna().any(axis=1)]

,helping_others_confidence,study_group_yesno,feel_confidence,feel_confidence2,study_group_preference,education_fulfillment,curr_class,curr_units,approx_gpa_year1,approx_gpa_win22_1,approx_gpa_win22_2,year,gender,age
7,5,No,3,4,Partner,3,CS105,12,NaN,3.25,3.25,Junior,Man,20
33,3,No,2,3,Alone,3,CS141,12,NaN,3.33,3.52,Junior,Man,22
48,5,Yes,4,4,In groups,4,CS141,17,NaN,3.24,3.12,Sophomore,Man,19
55,5,No,3,4,In groups,4,CS105,16,NaN,2.68,2.95,Junior,Man,22
71,2,No,4,4,Alone,2,CS105,16,NaN,3.34,3.34,Junior,NaN,21
72,5,Yes,4,4,All the above,4,CS105,16,NaN,2.9,2.75,Senior,Man,22
86,5,No,4,3,Partner,4,cs150,12,2.9,NaN,2.50,Senior,Woman,21

### Clean `approx_gpa_year1` column
### Clean `approx_gpa_win22_1` column

In [17]:
sdf_cleaned["approx_gpa_year1"].fillna(sdf_cleaned["approx_gpa_year1"].dropna().mean())

sdf_cleaned["approx_gpa_win22_1"].fillna(sdf_cleaned["approx_gpa_win22_2"].dropna().mean())

0      3.9
1     3.75
2      2.7
3      3.9
4      3.4
      ...
87    2.85
88     2.5
89     3.9
90       3
91    3.52
Name: approx_gpa_win22_1, Length: 92, dtype: object

# Final Data Set

In [18]:
pd.options.display.max_rows = 200
sdf_cleaned.head(200)

,helping_others_confidence,study_group_yesno,feel_confidence,feel_confidence2,study_group_preference,education_fulfillment,curr_class,curr_units,approx_gpa_year1,approx_gpa_win22_1,approx_gpa_win22_2,year,gender,age
0,3,Yes,1,3,Alone,3,CS105,12,3.50,3.9,3.43,Junior,Woman,21
1,5,No,3,4,Alone,4,CS111,14,3.90,3.75,3.81,Sophomore,Man,20
2,5,No,3,3,All the above,2,CS111,12,2.70,2.7,2.70,Sophomore,Man,19
3,4,Yes,4,4,In groups,4,CS105,17,3.90,3.9,3.90,Junior,Man,20
4,1,No,3,3,Alone,4,CS111,15,3.40,3.4,3.40,Junior,Man,21
5,5,Yes,3,4,All the above,3,CS105,17,3.88,3.88,3.88,Junior,Man,21
6,3,Yes,2,3,Alone,4,CS105,16,3.44,3.4,3.44,Junior,Man,27
7,5,No,3,4,Partner,3,CS105,12,NaN,3.25,3.25,Junior,Man,20
8,3,No,2,2,All the above,1,CS105,16,4.00,3.6,3.80,Junior,Man,21
9,4,No,4,4,Alone,2,CS105,16,2.10,3,2.20,Senior,Man,23
10,2,No,1,2,Alone,2,CS105,16,3.45,3.55,3.45,Junior,Man,24
11,4,No,5,5,Alone,4,CS105,12,4.00,4,3.97,Graduate,Man,22
12,4,No,3,3,In groups,3,CS105,16,3.65,4,3.65,Junior,Man,22
13,4,No,4,3,Alone,3,CS105,12,3.40,3,3.00,Senior,Man,24
14,5,No,4,5,Alone,4,CS141,16,2.85,3.57,2.90,Senior,Man,23
15,5,Yes,4,2,In groups,5,CS105,16,3.74,3.9,3.86,Junior,Man,21
16,4,No,3,3,All the above,4,CS105,12,3.80,3,3.13,Junior,Man,20
17,5,Yes,3,4,All the above,3,CS141,19,3.77,3.5,3.92,Junior,Man,22
18,4,No,3,3,Partner,4,CS105,20,3.40,3.3,3.30,Senior,Man,22
19,4,No,1,1,All the above,2,CS105,4,3.50,3.25,2.97,Junior,Woman,26
20,3,Yes,2,3,All the above,2,CS111,13,3.80,3.8,3.60,Sophomore,Non-binary/non-conforming,20
21,5,No,4,4,Partner,4,CS105,12,3.40,3.45,3.51,Senior,Man,21
22,5,Yes,2,4,All the above,3,CS105,17,3.48,3.75,3.50,Sophomore,Man,20
23,4,No,2,4,Alone,3,CS105,18,3.44,3.81,3.60,Sophomore,Man,20
24,3,No,4,4,Alone,4,CS105,12,4.00,3.6,3.40,Graduate,Man,24
25,5,Yes,4,3,Partner,2,CS105,13,3.52,2.46,3.12,Junior,Man,23
26,2,Yes,2,1,In groups,2,CS141,13,3.90,3.87,3.87,Sophomore,Man,19
27,5,Yes,4,3,Partner,4,CS141,17,2.97,3.2,2.97,Junior,Man,21
28,5,Yes,4,4,Partner,4,CS105,16,4.00,3.84,3.96,Sophomore,Woman,21
29,3,Yes,2,2,Partner,3,CS141,14,3.69,3.7,3.70,Sophomore,Man,20
30,5,Yes,2,4,In groups,2,CS141,16,3.76,3.8,3.76,Senior,Man,22
31,2,Yes,1,1,Alone,1,CS141,17,2.99,3,3.01,Sophomore,Man,20
32,5,Yes,4,4,In groups,4,CS111,12,3.70,didnt attend,3.70,Senior,Man,21
33,3,No,2,3,Alone,3,CS141,12,NaN,3.33,3.52,Junior,Man,22
34,4,Yes,4,3,All the above,4,CS141,13,4.00,3.97,3.85,Sophomore,Woman,20
35,4,Yes,3,4,All the above,4,CS141,16,4.00,4,4.00,Junior,Man,20
36,5,No,3,4,Partner,5,CS105,14,3.97,4,3.98,Sophomore,Man,20
37,2,No,3,4,Alone,5,CS141,17,3.80,3.8,3.79,Sophomore,Woman,19
38,4,No,3,3,Alone,3,CS111,17,3.50,3,3.30,Sophomore,Man,20
39,5,Yes,2,4,In groups,2,CS111,0,3.65,3.65,3.35,Sophomore,Man,20
40,5,Yes,3,4,All the above,4,CS111,9,4.00,4,4.00,Senior,Man,22
41,4,Yes,3,3,All the above,3,CS141,17,3.50,3.5,3.60,Junior,Woman,21
42,4,No,4,2,Alone,2,CS105,12,3.55,2.64,3.46,Junior,Man,20
43,4,No,1,2,Alone,2,CS111,12,2.60,1.5,2.88,Junior,Man,21
44,4,No,2,2,In groups,4,CS141,17,3.80,3.6,3.50,Sophomore,Woman,19
45,2,No,2,1,In groups,3,CS111,13,3.10,2.4,2.98,Sophomore,Man,19
46,5,No,2,3,Partner,4,CS141,13,4.00,4,4.00,Sophomore,Woman,20
47,4,Yes,2,3,All the above,3,CS141,12,3.86,4,3.63,Sophomore,Woman,20
48,5,Yes,4,4,In groups,4,CS141,17,NaN,3.24,3.12,Sophomore,Man,19
49,5,Yes,2,1,Partner,4,CS105,12,3.36,2.53,3.21,Sophomore,Woman,19
50,4,Yes,2,4,Partner,3,CS141,16,3.97,3,3.89,Sophomore,Man,19
51,5,Yes,4,4,All the above,4,CS141,13,4.00,4,4.00,Sophomore,Man,19
52,5,Yes,3,5,All the above,4,CS141,13,4.00,4,4.00,Sophomore,Man,19
53,5,Yes,1,1,Alone,2,CS105,17,3.80,3.61,3.61,Sophomore,Man,19
54,4,No,5,5,Alone,4,CS105,12,3.70,2.8,3.10,Sophomore,Man,19
55,5,No,3,4,In groups,4,CS105,16,NaN,2.68,2.95,Junior,Man,22
56,4,No,2,2,In groups,2,CS105,13,3.57,3.43,3.55,Sophomore,Woman,19
57,2,No,3,3,Partner,4,CS105,16,3.78,3.43,3.70,Junior,Woman,20
58,4,Yes,3,3,All the above,3,CS105,16,3.97,3.76,3.87,Junior,Man,21
59,4,Yes,3,3,In groups,2,CS105,12,3.77,3.69,3.76,Junior,Man,21
60,3,Yes,3,3,All the above,3,CS105,16,3.40,3.7,3.54,Junior,Man,20
61,5,Yes,3,3,Partner,5,CS111,13,3.64,3.64,3.64,Sophomore,Woman,20
62,4,No,3,3,All the above,4,CS141,13,3.60,3.4,3.50,Sophomore,Man,20
63,3,No,2,3,Partner,1,CS105,17,3.60,3.9,3.82,Junior,Man,20
64,5,Yes,4,3,Partner,3,CS105,12,3.60,3.8,3.80,Junior,Man,22
65,5,No,3,3,Alone,4,CS111,16,3.66,2.3,2.96,Senior,Man,22
66,2,Yes,1,3,Partner,2,CS105,20,3.00,3.3,3.19,Senior,Man,24
67,5,Yes,5,5,Alone,3,CS141,16,4.00,4,4.00,Junior,Man,24
68,1,Yes,2,3,Partner,3,CS105,16,3.50,2.9,3.40,Junior,Man,20
69,4,No,4,4,Partner,4,CS105,13,3.90,3.8,3.77,Sophomore,Man,19
70,3,Yes,4,4,Partner,4,CS105,12,4.00,3.98,3.95,Sophomore,Woman,20
71,2,No,4,4,Alone,2,CS105,16,NaN,3.34,3.34,Junior,NaN,21
72,5,Yes,4,4,All the above,4,CS105,16,NaN,2.9,2.75,Senior,Man,22
73,4,No,4,3,All the above,3,CS111,16,4.00,4,4.00,Sophomore,Man,19
74,4,Yes,3,4,In groups,3,CS141,18,4.00,3.77,3.75,Junior,Man,21
75,4,Yes,4,3,In groups,3,I'm not in any of those classes,12,3.70,4,3.91,Junior,Man,21
76,5,No,2,3,Partner,2,CS105,17,3.50,3.12,3.12,Junior,Woman,20
77,3,No,2,3,Alone,3,CS105,13,2.10,2.3,2.20,Junior,Man,25
78,5,Yes,5,5,All the above,5,CS105,17,4.00,4,4.00,Junior,Man,20
79,1,No,3,2,Alone,3,CS150,16,3.40,2.3,3.20,Senior,Transgender-Woman,22
80,5,No,4,3,All the above,3,CS105,17,4.00,4,4.00,Sophomore,Man,19
81,5,No,4,3,Alone,4,CS111,14,3.40,3.33,3.10,Junior,Man,21
82,4,No,4,3,Alone,3,CS111,12,4.00,4,4.00,Junior,Man,19
83,1,No,2,2,Alone,1,CS111,12,3.60,4,3.70,Junior,Man,20
84,4,Yes,4,4,Partner,5,CS105,11,4.00,4,4.00,Junior,Woman,21
85,3,Yes,2,3,Partner,3,CS141,12,3.20,3,3.33,Junior,Man,21
86,5,No,4,3,Partner,4,cs150,12,2.90,NaN,2.50,Senior,Woman,21
87,3,No,3,3,Partner,4,CS111,17,3.50,2.85,3.22,Sophomore,Man,19
88,3,No,3,4,All the above,2,CS105,16,2.50,2.5,2.50,Junior,Man,21
89,3,Yes,2,4,Partner,5,CS105,16,4.00,3.9,3.97,Senior,Man,23
90,5,No,1,4,Alone,4,CS105,12,3.50,3,3.50,Junior,Man,Daneil
91,4,No,3,3,Partner,3,CS105,12,3.52,3.52,3.52,Junior,Man,21

# Save dataset

In [19]:
sdf_cleaned.to_csv("data_cleaned.csv", index=False)

In [20]:
data_df = pd.read_csv("data_cleaned.csv")
data_df

,helping_others_confidence,study_group_yesno,feel_confidence,feel_confidence2,study_group_preference,education_fulfillment,curr_class,curr_units,approx_gpa_year1,approx_gpa_win22_1,approx_gpa_win22_2,year,gender,age
0,3,Yes,1,3,Alone,3,CS105,12,3.50,3.9,3.43,Junior,Woman,21
1,5,No,3,4,Alone,4,CS111,14,3.90,3.75,3.81,Sophomore,Man,20
2,5,No,3,3,All the above,2,CS111,12,2.70,2.7,2.70,Sophomore,Man,19
3,4,Yes,4,4,In groups,4,CS105,17,3.90,3.9,3.90,Junior,Man,20
4,1,No,3,3,Alone,4,CS111,15,3.40,3.4,3.40,Junior,Man,21
5,5,Yes,3,4,All the above,3,CS105,17,3.88,3.88,3.88,Junior,Man,21
6,3,Yes,2,3,Alone,4,CS105,16,3.44,3.4,3.44,Junior,Man,27
7,5,No,3,4,Partner,3,CS105,12,NaN,3.25,3.25,Junior,Man,20
8,3,No,2,2,All the above,1,CS105,16,4.00,3.6,3.80,Junior,Man,21
9,4,No,4,4,Alone,2,CS105,16,2.10,3,2.20,Senior,Man,23
10,2,No,1,2,Alone,2,CS105,16,3.45,3.55,3.45,Junior,Man,24
11,4,No,5,5,Alone,4,CS105,12,4.00,4,3.97,Graduate,Man,22
12,4,No,3,3,In groups,3,CS105,16,3.65,4,3.65,Junior,Man,22
13,4,No,4,3,Alone,3,CS105,12,3.40,3,3.00,Senior,Man,24
14,5,No,4,5,Alone,4,CS141,16,2.85,3.57,2.90,Senior,Man,23
15,5,Yes,4,2,In groups,5,CS105,16,3.74,3.9,3.86,Junior,Man,21
16,4,No,3,3,All the above,4,CS105,12,3.80,3,3.13,Junior,Man,20
17,5,Yes,3,4,All the above,3,CS141,19,3.77,3.5,3.92,Junior,Man,22
18,4,No,3,3,Partner,4,CS105,20,3.40,3.3,3.30,Senior,Man,22
19,4,No,1,1,All the above,2,CS105,4,3.50,3.25,2.97,Junior,Woman,26
20,3,Yes,2,3,All the above,2,CS111,13,3.80,3.8,3.60,Sophomore,Non-binary/non-conforming,20
21,5,No,4,4,Partner,4,CS105,12,3.40,3.45,3.51,Senior,Man,21
22,5,Yes,2,4,All the above,3,CS105,17,3.48,3.75,3.50,Sophomore,Man,20
23,4,No,2,4,Alone,3,CS105,18,3.44,3.81,3.60,Sophomore,Man,20
24,3,No,4,4,Alone,4,CS105,12,4.00,3.6,3.40,Graduate,Man,24
25,5,Yes,4,3,Partner,2,CS105,13,3.52,2.46,3.12,Junior,Man,23
26,2,Yes,2,1,In groups,2,CS141,13,3.90,3.87,3.87,Sophomore,Man,19
27,5,Yes,4,3,Partner,4,CS141,17,2.97,3.2,2.97,Junior,Man,21
28,5,Yes,4,4,Partner,4,CS105,16,4.00,3.84,3.96,Sophomore,Woman,21
29,3,Yes,2,2,Partner,3,CS141,14,3.69,3.7,3.70,Sophomore,Man,20
30,5,Yes,2,4,In groups,2,CS141,16,3.76,3.8,3.76,Senior,Man,22
31,2,Yes,1,1,Alone,1,CS141,17,2.99,3,3.01,Sophomore,Man,20
32,5,Yes,4,4,In groups,4,CS111,12,3.70,didnt attend,3.70,Senior,Man,21
33,3,No,2,3,Alone,3,CS141,12,NaN,3.33,3.52,Junior,Man,22
34,4,Yes,4,3,All the above,4,CS141,13,4.00,3.97,3.85,Sophomore,Woman,20
35,4,Yes,3,4,All the above,4,CS141,16,4.00,4,4.00,Junior,Man,20
36,5,No,3,4,Partner,5,CS105,14,3.97,4,3.98,Sophomore,Man,20
37,2,No,3,4,Alone,5,CS141,17,3.80,3.8,3.79,Sophomore,Woman,19
38,4,No,3,3,Alone,3,CS111,17,3.50,3,3.30,Sophomore,Man,20
39,5,Yes,2,4,In groups,2,CS111,0,3.65,3.65,3.35,Sophomore,Man,20
40,5,Yes,3,4,All the above,4,CS111,9,4.00,4,4.00,Senior,Man,22
41,4,Yes,3,3,All the above,3,CS141,17,3.50,3.5,3.60,Junior,Woman,21
42,4,No,4,2,Alone,2,CS105,12,3.55,2.64,3.46,Junior,Man,20
43,4,No,1,2,Alone,2,CS111,12,2.60,1.5,2.88,Junior,Man,21
44,4,No,2,2,In groups,4,CS141,17,3.80,3.6,3.50,Sophomore,Woman,19
45,2,No,2,1,In groups,3,CS111,13,3.10,2.4,2.98,Sophomore,Man,19
46,5,No,2,3,Partner,4,CS141,13,4.00,4,4.00,Sophomore,Woman,20
47,4,Yes,2,3,All the above,3,CS141,12,3.86,4,3.63,Sophomore,Woman,20
48,5,Yes,4,4,In groups,4,CS141,17,NaN,3.24,3.12,Sophomore,Man,19
49,5,Yes,2,1,Partner,4,CS105,12,3.36,2.53,3.21,Sophomore,Woman,19
50,4,Yes,2,4,Partner,3,CS141,16,3.97,3,3.89,Sophomore,Man,19
51,5,Yes,4,4,All the above,4,CS141,13,4.00,4,4.00,Sophomore,Man,19
52,5,Yes,3,5,All the above,4,CS141,13,4.00,4,4.00,Sophomore,Man,19
53,5,Yes,1,1,Alone,2,CS105,17,3.80,3.61,3.61,Sophomore,Man,19
54,4,No,5,5,Alone,4,CS105,12,3.70,2.8,3.10,Sophomore,Man,19
55,5,No,3,4,In groups,4,CS105,16,NaN,2.68,2.95,Junior,Man,22
56,4,No,2,2,In groups,2,CS105,13,3.57,3.43,3.55,Sophomore,Woman,19
57,2,No,3,3,Partner,4,CS105,16,3.78,3.43,3.70,Junior,Woman,20
58,4,Yes,3,3,All the above,3,CS105,16,3.97,3.76,3.87,Junior,Man,21
59,4,Yes,3,3,In groups,2,CS105,12,3.77,3.69,3.76,Junior,Man,21
60,3,Yes,3,3,All the above,3,CS105,16,3.40,3.7,3.54,Junior,Man,20
61,5,Yes,3,3,Partner,5,CS111,13,3.64,3.64,3.64,Sophomore,Woman,20
62,4,No,3,3,All the above,4,CS141,13,3.60,3.4,3.50,Sophomore,Man,20
63,3,No,2,3,Partner,1,CS105,17,3.60,3.9,3.82,Junior,Man,20
64,5,Yes,4,3,Partner,3,CS105,12,3.60,3.8,3.80,Junior,Man,22
65,5,No,3,3,Alone,4,CS111,16,3.66,2.3,2.96,Senior,Man,22
66,2,Yes,1,3,Partner,2,CS105,20,3.00,3.3,3.19,Senior,Man,24
67,5,Yes,5,5,Alone,3,CS141,16,4.00,4,4.00,Junior,Man,24
68,1,Yes,2,3,Partner,3,CS105,16,3.50,2.9,3.40,Junior,Man,20
69,4,No,4,4,Partner,4,CS105,13,3.90,3.8,3.77,Sophomore,Man,19
70,3,Yes,4,4,Partner,4,CS105,12,4.00,3.98,3.95,Sophomore,Woman,20
71,2,No,4,4,Alone,2,CS105,16,NaN,3.34,3.34,Junior,NaN,21
72,5,Yes,4,4,All the above,4,CS105,16,NaN,2.9,2.75,Senior,Man,22
73,4,No,4,3,All the above,3,CS111,16,4.00,4,4.00,Sophomore,Man,19
74,4,Yes,3,4,In groups,3,CS141,18,4.00,3.77,3.75,Junior,Man,21
75,4,Yes,4,3,In groups,3,I'm not in any of those classes,12,3.70,4,3.91,Junior,Man,21
76,5,No,2,3,Partner,2,CS105,17,3.50,3.12,3.12,Junior,Woman,20
77,3,No,2,3,Alone,3,CS105,13,2.10,2.3,2.20,Junior,Man,25
78,5,Yes,5,5,All the above,5,CS105,17,4.00,4,4.00,Junior,Man,20
79,1,No,3,2,Alone,3,CS150,16,3.40,2.3,3.20,Senior,Transgender-Woman,22
80,5,No,4,3,All the above,3,CS105,17,4.00,4,4.00,Sophomore,Man,19
81,5,No,4,3,Alone,4,CS111,14,3.40,3.33,3.10,Junior,Man,21
82,4,No,4,3,Alone,3,CS111,12,4.00,4,4.00,Junior,Man,19
83,1,No,2,2,Alone,1,CS111,12,3.60,4,3.70,Junior,Man,20
84,4,Yes,4,4,Partner,5,CS105,11,4.00,4,4.00,Junior,Woman,21
85,3,Yes,2,3,Partner,3,CS141,12,3.20,3,3.33,Junior,Man,21
86,5,No,4,3,Partner,4,cs150,12,2.90,NaN,2.50,Senior,Woman,21
87,3,No,3,3,Partner,4,CS111,17,3.50,2.85,3.22,Sophomore,Man,19
88,3,No,3,4,All the above,2,CS105,16,2.50,2.5,2.50,Junior,Man,21
89,3,Yes,2,4,Partner,5,CS105,16,4.00,3.9,3.97,Senior,Man,23
90,5,No,1,4,Alone,4,CS105,12,3.50,3,3.50,Junior,Man,Daneil
91,4,No,3,3,Partner,3,CS105,12,3.52,3.52,3.52,Junior,Man,21